*{
    margin: 0;
    padding: 0;
}
a{  
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: white;
}
.txt{
    margin-left:80px;
}
.warp{
    width: 100%;
    height: auto;
    display: flex;
}
.side-nav{
    display: flex;
    flex-direction: column;
    position: fixed;
}
.side-nav>div{
    position:absolute;
    display: flex;
    align-items: center;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    border-radius: 0 5px 5px 0;
}

.side-nav div:hover{
    left: 0;
}
.about {
    top: 20px;
    background-color: #4CAF50;
}
  
.blog {
    top: 80px;
    background-color: #2196F3;
}
  
.projects {
    top: 140px;
    background-color: #f44336;
}
  
.contact {
    top: 200px;
    background-color: #555
}
  